.container{
    margin-top: 67px;  
}

.card-header{
    background-color: #6D3D14;
    border-color: #6D3D14;
    color: #ffffff;
}

.btn-primary{
    background-color: #2B4162;
    border-color: #2B4162;
}