<div class="container mt-5">
  <h2>Lista de Usuarios</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Teléfono</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.role }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.enabled ? 'Habilitado' : 'Deshabilitado' }}</td>
        <td>
          <button class="btn btn-warning" (click)="cambiarEstadoUsuario(usuario)">
            {{ usuario.enabled ? 'Deshabilitar' : 'Habilitar' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of getPagesArray()">
        <a class="page-link" [class.active]="page === currentPage" (click)="onPageChange(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
