.container{
    margin-top: 67px;
}
.container-header  {
    background: #ffffff;
    border-radius: 1dvh;
    text-align: center;
}

.container h2{
    background-color: #6D3D14;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

@media (max-width: 576px) {
    .table, .form-control, .btn{
      font-size: 0.630rem;

    }   
  }