.card {
    position: absolute;
    top: 67px;
    right: 10px;
    margin-left: 20px;
  }
  
  .cart-item img {
    width: 50px;
    height: 50px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #6D3D14;
    border-color: #6D3D14;
    color: #ffffff;
  }
  
  .card-body {
    overflow-y: auto;
    max-height: 80vh;
  }
  
  .cart-item-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cart-item-image img {
    width: 50px;
    height: 50px;
  }
  
  .cart-item-info {
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .cart-item-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @media (max-width: 767.98px) {
    .card {
      margin: 10px;
    }
  
    .cart-item-row {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .cart-item-image img {
      width: 30px;
      height: 30px;
    }
  
    .cart-item-info h5 {
      font-size: 1rem;
      padding-left: 10px;
    }
  
    .cart-item-info span {
      font-size: 0.875rem;
    }
  
    .cart-item-actions {
      width: 55%;
      justify-content: space-between;
      margin-top: 10px;
      margin-left: 10px;
    }
  
    .btn {
      font-size: 0.875rem;
    }
  
    .form-control {
      font-size: 0.875rem;
    }
  
    .card-header h3 {
      font-size: 1.5rem;
    }
  
    h4 {
      font-size: 1.25rem;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .card {
      margin: 20px auto;
    }
  
    .img-container img {
      max-height: 200px;
    }
  
    .card-header h3 {
      font-size: 1.75rem;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1399.98px) {
    .card {
      margin: 20px;
    }
  
    .img-container img {
      max-height: 200px;
    }
  
    .card-header h3 {
      font-size: 1.75rem;
    }
  }
  
  @media (min-width: 1400px) {
    .card {
      margin: 20px;
    }
  
    .container {
      margin: 20px;
    }
  
    .img-container img {
      max-height: 200px;
    }
  
    .card-header h3 {
      font-size: 2rem;
    }
  }
  