<div class="container mt-5">
    <div class="row justify-content-end">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Carrito de Compras</h3>
          </div>
          <div class="card-body" *ngIf="(articulosCarrito$ | async)?.length; else carritoVacio">
            <div *ngFor="let articulo of articulosCarrito$ | async" class="cart-item">
              <div class="d-flex justify-content-between align-items-center cart-item-row">
                <div class="cart-item-image">
                  <img [src]="articulo.producto.imagen" alt="Imagen del producto">
                </div>
                <div class="cart-item-info">
                  <h5>{{ articulo.producto.nombre }}</h5>
                  <span>{{ articulo.producto.precio | currency }}</span>
                </div>
                <div class="cart-item-actions">
                  <button class="btn btn-secondary" (click)="onDisminuirCantidad(articulo)">-</button>
                  <span class="mx-1">{{ articulo.cantidad }}</span>
                  <button class="btn btn-secondary" (click)="onAumentarCantidad(articulo)">+</button>
                  <button class="btn btn-danger mx-2" (click)="onEliminar(articulo.producto)">Eliminar</button>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
              <label for="fechaRetiro">Fecha de Retiro:</label>
              <input type="date" id="fechaRetiro" [(ngModel)]="fechaRetiro" class="form-control w-auto ms-2">
            </div>
            <div class="d-flex justify-content-end mt-3">
              <h4>Total: {{ totalCarrito | currency }}</h4>
            </div>
            <div class="d-flex justify-content-end mt-3">
              <button class="btn btn-primary" (click)="finalizarPedido()">Finalizar Pedido</button>
            </div>
          </div>
          <ng-template #carritoVacio>
            <div class="text-center">
              <p>El carrito está vacío.</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  