/* Define el estilo de la imagen en la tarjeta */
.card {
  height: 100%; /* Ajusta la altura de la card según el contenido */
}

.card-img-top {
  height: 200px;
  object-fit: cover; /* Ajusta la imagen para cubrir el área asignada sin distorsión */
}

/* Define el color de fondo y el color del texto de la tarjeta */
.card {
  background-color: #6D3D14; /* Color de fondo marrón oscuro */
  color: #ffffff; /* Color del texto en blanco */
}

/* Contenedor de la imagen */
.img-container {
  padding: 10px; /* Ajusta el padding según sea necesario */
  width: 100%;
  max-height: 300px;
}

/* Estilo de la imagen dentro del contenedor */
.img-container img {
  border-radius: 5px; /* Añade bordes redondeados a la imagen */
  width: 100%; /* Asegura que la imagen tome el 100% del contenedor */
  max-height: 240px;
}

/* Estilo del botón */
.btn-primary.float-end {
  background-color: #E08700; /* Color de fondo */
  border-color: #E08700; /* Color del borde */
  color: black; /* Color del texto */
}
