<div class="container mt-4">
    <h2>Lista de Insumos</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Unidad de Medida</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let insumo of insumos">
          <th scope="row">{{ insumo.id }}</th>
          <td>{{ insumo.nombre }}</td>
          <td>{{ insumo.descripcion }}</td>
          <td>{{ insumo.unidad_medida }}</td>
          <td><button class="btn btn-danger me-2" *ngIf="isAuthenticated() && isAdmin()" (click)="onEliminar(insumo.id)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-success me-2" *ngIf="isAuthenticated() && isAdmin()" [routerLink]="['/crear/insumo']">Crear</a>
  </div>
  
