<div class="container">
    <h2>Lista de Insumos</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col" class="d-none d-md-table-cell">Descripción</th>
          <th scope="col">Unidad de Medida</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let insumo of insumos">
          <th scope="row">{{ insumo.id }}</th>
          <td scope="row">{{ insumo.nombre }}</td>
          <td scope="row" class="d-none d-md-table-cell">{{ insumo.descripcion }}</td>
          <td scope="row">{{ insumo.unidad_medida }}</td>
          <td scope="row"><button class="btn btn-danger me-2" *ngIf="isAuthenticated() && isAdmin()" (click)="onEliminar(insumo.id)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-success me-2" *ngIf="isAuthenticated() && isAdmin()" [routerLink]="['/insumo/crear']">Crear</a>
  </div>

