h2 {
    color: #ffffff; 
}

.btn-danger:hover {
    background-color: darken(red, 20%);
}

.btn.success:hover{
    background-color: darken(green,30%);
}
  
.btn-primary{
    background-color: #2B4162; 
    border: none;
    font-size:medium;
}

.btn-primary:hover {
    background-color: darken(#2B4162, 10%);

}
.me-2 {
    margin-right: 0.5rem;
}
.container{
    margin-top: 67px;
   // background-color: #6D3D14;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2{
    background-color: #6D3D14;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
