.card-header{
    background-color: #6D3D14;
    color: #ffffff;
}

.btn-primary{
    background-color: #2B4162;
    color: #ffffff;
    border-color: #2B4162;
    margin: 10px;
}

.scrollable-container {
    max-height: 300px;
    overflow-y: auto;
}