<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="#">MisPedidos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" *ngIf="isAuthenticated() && isUser()">
            <a class="nav-link" routerLink="/listar">Productos</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated() && isUser()">
          <a class="nav-link" routerLink="/carrito">Carrito</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated() && isPanadero()">
          <a class="nav-link" routerLink="/pedidos">Pedidos</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isAuthenticated() && isUser()">
          <a class="nav-link" routerLink="/cuenta">Cuenta</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link" href="#" (click)="logout()">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>
  