.container {
  background: transparent;
  padding-top: 60px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-info{
  background-color: #2B4162;
  border-color: #2B4162;
  color:#ffffff
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  margin-bottom: 0.5rem;
}

.product-image {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.me-2 {
  margin-right: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.shadow-sm {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #6D3D14;
  border: 1px solid #6D3D14;
  text-align: center;
  border-radius: 5px;
  color:#ffffff
}
.label{
  color: #f6f6f6;  
  font-weight: bold;
}

@media (max-width: 800px) {
  .w-sm-auto {
    width: auto !important;
  }
  .flex-wrap {
    flex-co: wrap !important;
  }
  .mt-sm-0 {
    margin-top: 0 !important;
  }
  .mb-2 {
    margin-bottom: 0.5rem !important;
  }
}
