<div class="container mt-5">
    <h2 class="text-center">Pedidos</h2>
    <div *ngFor="let pedido of pedidos" class="card mb-4 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Fecha del Pedido: {{ pedido.fechaPedido }}</h5>
        <p class="card-text">Fecha de Retiro: {{ pedido.fechaRetiro }}</p>
        <div *ngFor="let articulo of pedido.articulos" class="d-flex justify-content-between align-items-center mb-3">
          <div class="d-flex align-items-center">
            <img [src]="articulo.producto.imagen" alt="Imagen del producto" class="product-image">
            <div>
              <h6>{{ articulo.producto.nombre }}</h6>
              <p>{{ articulo.producto.precio | currency }}</p>
            </div>
          </div>
          <div>
            <p>Cantidad: {{ articulo.cantidad }}</p>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <h5>Total: {{ pedido.total | currency }}</h5>
          <div>
            <button *ngIf="pedido.estado === 'pendiente'" class="btn btn-warning me-2" (click)="actualizarEstado(pedido, 'enPreparacion')">En Preparación</button>
            <button *ngIf="pedido.estado === 'enPreparacion'" class="btn btn-success me-2" (click)="actualizarEstado(pedido, 'listoParaRetirar')">Listo para Retirar</button>
            <button *ngIf="pedido.estado === 'listoParaRetirar'" class="btn btn-info me-2" disabled>Listo para Retirar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  