<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Cambiar Contraseña</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="id">ID de Usuario</label>
                <input id="id" formControlName="id" type="text" class="form-control" />
              </div>
              <div class="form-group mt-3">
                <label for="oldPassword">Contraseña Actual</label>
                <input id="oldPassword" formControlName="oldPassword" type="password" class="form-control" />
              </div>
              <div class="form-group mt-3">
                <label for="newPassword">Nueva Contraseña</label>
                <input id="newPassword" formControlName="newPassword" type="password" class="form-control" />
                <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" class="text-danger">
                  La contraseña debe tener al menos 6 caracteres.
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="confirmPassword">Confirmar Nueva Contraseña</label>
                <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" />
                <div *ngIf="changePasswordForm.errors?.['mismatch'] && changePasswordForm.get('confirmPassword')?.touched" class="text-danger">
                  Las contraseñas no coinciden.
                </div>
              </div>
              <button type="submit" class="btn btn-primary mt-4 w-100" [disabled]="changePasswordForm.invalid">Cambiar Contraseña</button>
            </form>
            <div *ngIf="message" class="alert alert-success mt-3">{{ message }}</div>
            <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  