<div class="pedidos-list">
    <h2>Lista de Pedidos</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Fecha Pedido</th>
          <th>Fecha Entrega</th>
          <th>Estado</th>
          <th>Usuario ID</th>
          <th>Productos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos">
          <td>{{ pedido.id }}</td>
          <td>{{ pedido.fechaPedido | date }}</td>
          <td>{{ pedido.fechaEntrega | date }}</td>
          <td>{{ pedido.estado }}</td>
          <td>{{ pedido.userId }}</td>
          <td>
            <ul>
              <li *ngFor="let producto of pedido.productos">
                Producto ID: {{ producto.productoId }}, Cantidad: {{ producto.cantidad }}
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  