
// .container {
//     position: absolute;
//     top: 20px;
//     right: 10px;
    
//   }
  .card{
    position:absolute;
    top: 67px;
    right: 10px;
  }

  .btn {
    font-size: 0.875rem;
    width: 130px;    
  }
 