
:host {
    display: block;
    height: 100vh; 
    background-image: url('https://previews.123rf.com/images/martingaal/martingaal1601/martingaal160100048/51516072-panes-pasteles-pastel-de-navidad-en-el-fondo-de-madera-con-letras-imagen-de-panader%C3%ADa-o-tienda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  