
:host {
    display: block;
    height: 100vh; 
    background-image: url('https://previews.123rf.com/images/martingaal/martingaal1601/martingaal160100048/51516072-panes-pasteles-pastel-de-navidad-en-el-fondo-de-madera-con-letras-imagen-de-panader%C3%ADa-o-tienda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow: auto;
  }
  


@media (max-width: 767.98px) {
  .card {
    //max-width: 100%;
    margin: 10px;
  }
  .img-container img {
    max-height: 150px;
  }
  .card-header h3 {
    font-size: 1.5rem;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .card {
    //max-width: 100%;
    margin: 20px auto;
  }
  .img-container img {
    max-height: 200px;
  }
  .card-header h3 {
    font-size: 1.75rem;
  }
  #toast-container {
    max-width: 100%;
    left: 0;
    right: 0;
    padding: 0 10px;
  }

  .toast {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}


@media (min-width: 992px) and (max-width: 1399.98px) {
  .card {
    margin: 20px;
  }
  .img-container img {
    max-height: 200px;
  }
  .card-header h3 {
    font-size: 1.75rem;
  }
}

@media (min-width: 1400px) {
  .card {
  //  max-width: 100%;
    margin: 20px;
  }
  .img-container img {
    max-height: 200px;
  }
  .card-header h3 {
    font-size: 2rem;
  }
}

