<!-- src/app/product-list/product-list.component.html -->
<div class="container-fluid mt-1">
  <div class="row">
    <!-- Navbar a la izquierda del todo -->
    <div class="col-md-2">
      <nav class="navbar navbar-expand-md navbar-custom flex-column align-items-center vh-100">
        <span class="navbar-brand">Panadería</span>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="/productos" routerLinkActive="active" aria-current="page">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/carrito" routerLinkActive="active">Carrito</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cuenta" routerLinkActive="active">Cuenta</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    
    <!-- Lista de productos a la derecha -->
    <div class="col-md-10">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="col-md-4 mb-4 p-5 justify-content-center" *ngFor="let product of productos">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>
