.mt-custom {
  margin-top: 80px; /* Ajuste del margen superior */
}

#main-container {
  height: 100%;
}

.cards-container {
  height: calc(100vh - 80px); /* Ajuste de la altura según la altura de la navbar */
  overflow-y: auto;
  padding-top: 10px; /* Ajuste del padding superior según la altura de la navbar */
  background: transparent;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.cards-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
