<div class="container mt-4">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <!--<th>Imagen</th> -->
        <th>Precio</th>
        <!-- Puedes agregar más columnas según las propiedades de tus productos -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <!--<td><img [src]="decodeBase64(producto.imagen)" alt="Imagen del producto" class="img-thumbnail" style="max-width: 100px;"></td> -->
        <td>{{ producto.precio }}</td>
        <!-- Ajusta las propiedades según la estructura de tus productos -->
      </tr>
    </tbody>
  </table>
</div>

