body {
    color: white;
}

.container {
    margin-top: 67px;
    background-color: #6D3D14;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #000000;
}

.form-group {
    margin-bottom: 1rem;

    label {
        color: #ffffff;
    }
}

.btn-success {
    background-color: #2B4162;
    border: none;
    &:hover {
        background-color: darken(#2B4162, 10%);
    }
}
