.card-header{
  background-color: #6D3D14;
  border-color: #6D3D14;
  color: #ffffff;
}

.forgot-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
    
}

.btn-primary{
  background-color: #2B4162;
  border-color: #2B4162;
}

.container{
  margin-top: 67px;
}
  