.custom-toast.ngx-toastr {
    font-size: 20px !important;
    min-width: 500px !important;
    padding: 15px !important;
    border-radius: 10px !important;
    background-color: #f8f9fa !important;
  
    &.toast-success {
        background-color: #28a745 !important;
        color: #fff !important; 
        display: flex !important;
        align-items: center !important;

        .toast-message {
            margin-left: 30px;
            flex: 1 !important;
        }
    }
  
    &.toast-error {
        background-color: #dc3545 !important;
        color: #fff !important;
        display: flex !important;
        align-items: center !important;

        .toast-message {
            margin-left: 30px;
            flex: 1 !important;
        }
    }
    
}
  
@media (max-width: 768px) {
    #toast-container {
      max-width: 80%;
      left: 0;
      right: 0;
      padding: 0 10px;
      
    }
  
    .toast {
      width: 80%;
      border-radius: 5px;
      margin-bottom: 10px;
    }
}