.container {
    margin-top: 10%;
  }
  
  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #6D3D14;
    border-bottom: 1px solid #6D3D14;
    text-align: center;
    color:#ffffff
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .btn-primary {
    background-color: #2B4162;
    border-color: #2B4162;
  }
  
  .btn-primary:hover {
    background-color: #2B4162;
    border-color: #2B4162;
  }
  
  .invalid-feedback {
    display: block;
  }
  
@media (max-width: 768px) {
  .container{
    margin-top: 78px;
  }
}